name: CMake Build
on: [push]

jobs:
  build-ubuntu:
    name: Build on Ubuntu
    runs-on: ubuntu-latest
    env:
      GITHUB_WORKSPACE: ${{ github.workspace }}
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Configure
        uses: CabooseLang/github-actions/cmake-configure@master

      - name: Build
        uses: CabooseLang/github-actions/cmake-build@master

  build-windows:
    name: Build on Windows
    runs-on: windows-latest
    env:
      GITHUB_WORKSPACE: ${{ github.workspace }}
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Configure
        uses: CabooseLang/github-actions/cmake-configure@master

      - name: Build
        uses: CabooseLang/github-actions/cmake-build@master
