name: CMake Package

on:
  push:
    tags: 
      - '*'

jobs:
  build-ubuntu:
    name: Build on Ubuntu
    runs-on: ubuntu-latest
    env:
      GITHUB_WORKSPACE: ${{ github.workspace }}
    steps:
      - name: Install NSIS
        uses: CabooseLang/github-actions/install-nsis@master

      - name: Checkout Repo
        uses: actions/checkout@v1

      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - name: Configure
        uses: CabooseLang/github-actions/cmake-configure@master

      - name: Build
        uses: CabooseLang/github-actions/cmake-build@master

      - name: Package
        uses: CabooseLang/github-actions/cmake-package@master
        with:
          package_type: deb;rpm;nsis

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: true
          prerelease: false

      - name: Upload Debian Package
        id: upload_debian_package
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/Caboose-${{ steps.get_version.outputs.VERSION }}.deb
          asset_name: Caboose-${{ steps.get_version.outputs.VERSION }}.deb
          asset_content_type: application/octet-stream

      - name: Upload RPM Package
        id: upload_rpm_package
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/Caboose-${{ steps.get_version.outputs.VERSION }}.rpm
          asset_name: Caboose-${{ steps.get_version.outputs.VERSION }}.rpm
          asset_content_type: application/octet-stream

      - name: Upload NSIS Package
        id: upload_nsis_package
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/Caboose-${{ steps.get_version.outputs.VERSION }}.exe
          asset_name: Caboose-${{ steps.get_version.outputs.VERSION }}.exe
          asset_content_type: application/octet-stream