name: CMake Package

on:
  push:
    tags: 
      - '*'

jobs:
  build-ubuntu:
    name: Build on Ubuntu
    runs-on: ubuntu-latest
    env:
      GITHUB_WORKSPACE: ${{ github.workspace }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v1
      - name: Configure
        uses: CabooseLang/github-actions/cmake-configure@master
      - name: Build
        uses: CabooseLang/github-actions/cmake-build@master
      - name: Package
        uses: CabooseLang/github-actions/cmake-package@master
        with:
          package_type: deb;rpm
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: true
          prerelease: false
      - name: Upload Debian Package
        id: upload_debian_package
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/caboose-${{ github.ref }}-Linux.deb
          asset_name: caboose-${{ github.ref }}-Linux.deb
      - name: Upload RPM Package
        id: upload_rpm_package
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/caboose-${{ github.ref }}-Linux.rpm
          asset_name: caboose-${{ github.ref }}-Linux.rpm